/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"); }

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  color: #242424;
  font-family: "Open Sans", sans-serif; }

@media only screen and (max-width: 890px) {
  body {
    margin: 0 auto;
    width: 360px;
    background-color: #aaa; } }

h1,
h2,
h3 {
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.CTA {
  width: 160px;
  height: 60px;
  background-color: #CD6326;
  border: none;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  /* font-light */
  color: #F7F7F7;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 220px;
  padding-top: 20px;
  padding-left: 95px;
  padding-right: 95px;
  background-color: #02160B;
  color: #F7F7F7; }

.headerLeftCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
          

.companyLogo {
  width: 82px;
  height: 82px;
  margin-right: 5px; }
  .companyLogo2 {
    width: 112px;
    height: 118px;
    margin-right: 5px; }

.companyName {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F7F7F7; }

.headerRightCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; 
        margin: auto 0;
      }

.phone {
  margin-bottom: 10px; }

.phone a {
  font-size: 25px;
  color: #F7F7F7; }

.time {
  font-size: 20px; }

  .pricesGrid {
    display: flex;
    padding-top: 125px;
  }

  .pricesGrid--left {
    margin-right: 2vw;
  }

  .pricesGrid--right {
    margin-right: 5vw;

  }

  .pricesImage {
    width: 100%;
  }

@media only screen and (max-width: 890px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px; }
  .headerLeftCol {
    margin-bottom: 15px;
    margin-right: 10px; }
  .companyName {
    width: 141px;
    font-size: 26px;
    line-height: 28px; }
  .companyLogo {
    width: 68px;
    height: 68px; }
  .headerStroke {
    display: block;
    height: 1px;
    width: 232px;
    background-color: #929292; }
  .headerRightCol {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px; }
  .phone a {
    font-size: 25px;
    line-height: 25px;
    font-weight: 600; } }

.jumbo {
  position: relative;
  height: 590px;
  padding-left: 95px;
  padding-right: 95px;
  background-color: #02160B;
  color: #F7F7F7; }

.jumboHeader {
  width: 360px;
  position: relative;
  z-index: 10;
  margin-bottom: 35px;
  padding: 8px;
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #CD6326;
  background-color: rgba(2, 22, 11, 0.8);
  line-height: 50px;
  letter-spacing: 2px; 
}

.jumboText {
  width: 360px;
  position: relative;
  z-index: 10;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 60px;
  
  padding: 15px;
  background-color: rgba(2, 22, 11, 0.8); }

.jumboImage {
  width: 834px;
  position: absolute;
  top: 0;
  right: 95px;
  z-index: 0; }

.jumboButton {
  position: relative;
  z-index: 10; }

  @media only screen and (max-width: 890px) {  
  .pricesGrid {
    flex-direction: column;
    padding-top: 58px;
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 890px) {
  .jumbo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0; }
  .jumboHeader {
    width: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 45px;
    line-height: 40px; }
  .jumboText {
    width: 360px;
    margin-top: 24px;
    margin-bottom: 115px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8); }
  .jumboImage {
    width: 360px;
    position: absolute;
    left: 0;
    top: 114px; }
  .jumboButton {
    margin: 0 auto; } }

.prices {
  background-color: #F0EEE7;
  padding-left: 5vw;
  padding-right: 5vw;
  line-height: 27px;
  padding-bottom: 97px; }


.pricesHeading {
  margin-bottom: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px; }

@media only screen and (max-width: 890px) {
  .prices {
    background-color: #F0EEE7;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 27px;
    padding-bottom: 87px; }
    .pricesGrid {
      padding-top: 58px;
      margin-bottom: 55px;
    }
  .pricesHeading {
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px; }
  .pricesList {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px; } }

.services {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #FFF; }

.servicesHeading {
  padding-top: 125px;
  padding-bottom: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 6px; }

.servicesList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.servicesList--item {
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%; }

.servicesList--item span {
  padding-top: 10px;
  width: 300px;
  display: block;
  text-align: center; }

@media only screen and (max-width: 890px) {
  .services {
    padding-left: 15px;
    padding-right: 15px; }
  .servicesHeading {
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 37px; }
  .servicesList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .servicesList--item {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 27px;
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%; }
  .servicesList--item span {
    padding-top: 10px;
    width: 300px;
    display: block;
    text-align: center; } }

.footer {
  height: 200px;
  padding-left: 95px;
  padding-right: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #02160B;
  color: #F7F7F7; }

.footerRightCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media only screen and (max-width: 890px) {
  .footer {
    height: 360px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .footerRightCol {
    margin-top: 65px;
    margin-bottom: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footerLeftCol {
    margin-bottom: 20px; } }

    
