
.prices {
  background-color: #F0EEE7;
  padding-left: 95px;
  line-height: 27px;
  padding-bottom: 97px;
}

.pricesHeading {
  padding-top: 125px;
  margin-bottom: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

@media only screen and (max-width: 800px) {
  .prices {
    background-color: #F0EEE7;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 27px;
    padding-bottom: 87px;
  }
  
  .pricesHeading {
    padding-top: 58px;
    margin-bottom: 55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
  }

  .pricesList {
    padding-inline-start: 20px;
  }
}