
.services {
  padding-left: 95px;
  padding-right: 95px;
  background-color: #FFF;
}

.servicesHeading {
  padding-top: 125px;
  padding-bottom: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 6px;
}

.servicesList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.servicesList--item {
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
  flex-basis: 26%;
}

.servicesList--item span {
  padding-top: 10px;
  width: 300px;
  display: block;
  text-align: center;
}


@media only screen and (max-width: 800px) {
  
.services {
  padding-left: 15px;
  padding-right: 15px;
}

.servicesHeading {
  padding-top: 45px;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 37px;
}

.servicesList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.servicesList--item {
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
  flex-basis: 26%;
}

.servicesList--item span {
  padding-top: 10px;
  width: 300px;
  display: block;
  text-align: center;
}
}