$color--orange: #e65a45;
$color--bg__dark: #3d3027;
$color--bg__light: #58210b;

$screen-narrow: 920px;

$font-family__text: "Myriad Pro", sans-serif;
$font-size__text: 15px;
$line-height__text: 22px;

$font-family__header: Futura PT, sans-serif;
$font-size__h1: 34px;
$line-height__h1: auto;

$font-size__h2: 32px;
$line-height__h2: auto;

$font-size__h3: 26px;
$line-height__h3: auto;
// $color-brown


// all in futura
$font-size__cta-label: 24px;
$font-size__cta-header: 38px;
//color-
$font-size__cta-button: 40px;
